.my-code-container {
  font-family: '微软雅黑';
  padding: 10px;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0.75rem;
}

.my-code-box {
  display: flex;
  position: relative;
  line-height: 1.25rem;
}

.my-code-val {
  display: flex;
  white-space: pre;
  word-break: break-word;
  margin-left: 10px;
  flex: 1;
  color: rgb(12, 150, 12);
}

.my-code-key {
  margin-left: 5px;
  color: rgb(184, 53, 53);
}

.my-opener {
  cursor: pointer;
  margin-left: -10px;
  position: absolute;
}

.my-opener-open {
  border-color: #bbb transparent transparent transparent;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.my-opener-close {
  border-color: transparent transparent transparent #bbb;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  display: inline-block;
  vertical-align: middle;
}

.my-code-simple {
  color: #333;
}
